.wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');
  background-size: cover;
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  font-size: 52px;
  color: white;
}
