.wrapper {
  background-color: rgb(161, 100, 223);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2em;
  cursor: pointer;
}
